.halfSize.contentBackground
  %legend
    Edytuj swój profil

  = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => "form-horizontal" }) do |f| 
    .control-group
      = f.label :password, "Nowe hasło:", class: "control-label"
      .controls
        = f.password_field :password, :autocomplete => "off"
        = errors_for f, :password 
    .control-group
      = f.label :password_confirmation, "Potwierdź nowe hasło:", class: "control-label" 
      .controls
        = f.password_field :password_confirmation
    %br
    %br
    .control-group
      = f.label :current_password, "Obecne hasło:", class: "control-label"
      .controls
        = f.password_field :current_password
        = errors_for f, :current_password

    .control-group
      .controls
        = f.submit "Zmień", class: "btn square"


  %legend
    Usuwanie konta
  = link_to "Skasuj moje konto", registration_path(resource_name), :data => { :confirm => "Napewno?" }, :method => :delete
