.halfSize.contentBackground
  %legend
    Zarejestruj się w serwisie


  =form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => "form-horizontal" }) do |f|

    .control-group
      =f.label :email, "Email:", class: "control-label"  
      .controls
        = f.text_field :email
        = errors_for f, :email
    .control-group
      = f.label :nickname, "Nazwa użytkownika:", class: "control-label" 
      .controls
        = f.text_field :nickname
        = errors_for f, :nickname
    .control-group
      = f.label :password, "Hasło:", class: "control-label" 
      .controls
        = f.password_field :password
        = errors_for f, :password 
    .control-group
      = f.label :password_confirmation, "Potwierdź hasło:", class: "control-label" 
      .controls
        = f.password_field :password_confirmation
    .control-group
      .controls
        = f.submit "Zarejestruj", class: "btn square"


  =render "devise/shared/links"
