=form_for(@private_room, :url => tutor_private_room_url(@private_room.tutor),  :html => { :multipart => true, :class => "form-horizontal" }) do |f|
  .control-group
    =f.label :learner_name, "Imię:", class: "control-label"  
    .controls
      = f.text_field :learner_name
      = errors_for f, :learner_name_valid

  .control-group
    .controls
      = f.submit "Zatwierdź", class: "btn square"