<% publish_to "/messages/private/#{@room.sessionId}"  do %>
  $("#privateRoomAnnouces").html("<%= j(render :partial => '/shared/annouce_content', :locals => { :learner => @learner, :tutor => @room.user.tutor }) %>");

<% end %>);