-#TODO:  current_user == @private_room.tutor.user zmienic na metode
- content_for :title do
  Prywatna lekcja
:javascript
  #{ render :partial => "shared/generate_video.js.erb",  :locals => { :room => @private_room, :ot_token => @ot_token }}
.contentBackground
  #privTitle
    %h3
      Płatna lekcja
    -if current_user == @private_room.tutor.user
      %strong#annouce
        = link_to "Wyślij powiadomienie uczniowi o utworzeniu lekcji!",  {:controller => 'private_rooms', :action => 'annouce', :tutor_id => @private_room.tutor } , :method => :get, :remote => true 
    #timer
      - if current_user != @private_room.tutor.user and @private_room.minutes_left == nil
        .roomAnnouce
          Rozpocznij płatną sesję klikając na "Dodaj minuty"
      - elsif current_user == @private_room.tutor.user and @private_room.minutes_left == nil
        .roomAnnouce.center
          Twój uczeń nie rozpoczął jeszcze płatnej sesji.
          %br 
          Poproś go o kliknięcie w przycisk "Dodaj minuty" 
      - else
        .roomAnnouce
          Pozostało
          =@private_room.minutes_left
          min.
  #privControlPanel 
    .roomControl
      Status połączenia: 
      %span#connectionStatus
    .clear
    = render :partial => 'shared/video_buttons'
    .clear
      %strong
        -if current_user.tutor?   
          = link_to "Zakończ lekcję!", tutor_private_room_path(@private_room.tutor) , :method => :delete, confirm: "Jestes pewien?" 
        -else
          = link_to "Dodaj minuty",  {:controller => 'payment_histories', :action => 'create', :user_id => @private_room.tutor.user } , :method => :post, :remote => true

  #privContent
    #privTutor
      .profileTitle
        %h4="Korepetytor: #{@tutor.user.nickname}"
      #videobox

      .clear

    #privLearner
      .profileTitle
        %h4="Uczeń: #{@learner.nickname}"
      #videobox2
    .clear
  #privChat
    %h5
      CZAT
    = render :partial => 'shared/chat_sender', :locals => { :room => @private_room }
    %ul#chat
