=form_for(@comment, :url => user_comment_url(current_user, @comment),  :html => {  :class => "form-horizontal" }) do |f|
  .control-group
    =f.label :rate, "Ocena(1-5):", class: "control-label"  
    .controls
      = f.text_field :rate
      = errors_for f, :rate
  .control-group
    = f.label :content, "Komentarz: (max 150 znaków)", class: "control-label" 
    .controls
      = f.text_area :content, :rows => 8
      = errors_for f, :content

  .control-group
    .controls
      = f.submit "Zatwierdź", class: "btn btn-primary"