- content_for :title do
  ="Wystaw komentarze korepetytorom"
.contentBackground
  %legend
    Oceń prywatne lekcje w których brałeś udział:
  .listAreaComments
    %h4
      W tym miejscu możesz ocenić i wystawić komentarz korepetytorowi po skończonej płatnej lekcji.
    - if @comments.empty?
      Obecnie ta lista jest pusta, wróć tutaj ponownie gdy skończysz płatną lekcję z korepetytorem
    -else
      - @comments.each do |comment|
        .listElement
          Prywatna lekcja u użytkownika
          %strong
            =link_to comment.tutor.user.nickname, user_tutor_path(comment.tutor)
          %br
          %small
            =comment.created_at.strftime("w dniu %d-%m-%Y o godzinie %H:%M ")
            %br
            .listLink
              = link_to "Wystaw komentarz",  edit_user_comment_path(current_user, comment)
            .listLink 
              = link_to "Wyświetl profil #{comment.tutor.user.nickname}",  user_tutor_path(comment.tutor)
