- content_for :title do
  ="Opinie wystawione użytkownikowi #{@tutor.user.nickname}"
.contentBackground
  %legend
    Opinie wystawione użytkownikowi #{@tutor.user.nickname}:
    %small  
      |
      = link_to "Wyświetl profil",  user_tutor_path(@tutor)
      |
      -if @tutor.online?
        = link_to "Przejdź do pokoju", user_room_path(@tutor.user)
        |
  %h4
    #{@tutor.comments_count} opini, średnia ocen #{@tutor.rating} 
  .listAreaComments
    - @comments.each do |comment|
      .listElement
        %small
          Prywatna lekcja z 
          %strong
            =comment.user.nickname
          =comment.created_at.strftime("w dniu %d-%m-%Y")
        %br
        Uczeń skomentował lekcję:
        .listComment
          Ocena:
          = image_tag(star_rating(comment.rate))
        .listComment
          %blockquote
            =comment.content
       
  .clear
