- content_for :title do
  ="Wystaw komentarz - @tutor.user.nickname"
.contentBackground
  %legend
    Oceń prywatną lekcje u użytkownika #{@tutor.user.nickname} #{@comment.created_at.strftime("w dniu %d-%m-%Y o godzinie %H:%M ")}
  = render :partial => 'form'