//W zalezności od linku, wyświetla komentarze jakie użytkownik może wystawić(:user_id)    lub    komentarze wystawione korepetytorowi (:tutor_id)
-if params[:user_id].present?
  = render :partial => 'not_put_up.index'
- else
  = render :partial => 'put_up.index'


