- content_for :title do
  ="Wyniki wyszukiwania"
- content_for :searchBox do
  = render partial: "/layouts/searchBox"
.contentBackground
  %legend
    Wyniki wyszukiwania - znaleziono #{@tutors.total_entries}
    -if @tutors.total_entries == 1 
      korepetytora:
    -else
      korepetytorów:
  .box.mini
    =link_to "Powrót do katalogu", root_path

  .listAreaTutors
    .paginate
      = will_paginate @tutors 
    .clear
    = render :partial => 'tutors/tutor', :locals => { :tutors => @tutors }
    .clear
    .paginate
      = will_paginate @tutors 
  .clear
