=form_for(@tutor, :url => user_tutor_url(current_user),  :html => { :multipart => true, :class => "form-horizontal" }) do |f|
  .control-group
    =f.label :name, "Imię:", class: "control-label"  
    .controls
      = f.text_field :name
      = errors_for f, :name
  .control-group
    = f.label :surname, "Nazwisko:", class: "control-label" 
    .controls
      = f.text_field :surname
      = errors_for f, :surname
  .control-group
    = f.label :degree, "Wykształcenie:", class: "control-label" 
    .controls
      = f.select :degree, options_for_select(ARRAY[:degree], @tutor.degree)
      = errors_for f, :degree
  .control-group
    = f.label :price, "Cena", class: "control-label" 
    .controls
      %i
        Wybierz ile orderów chcesz otrzymywać za 15min lekcji.
        %br
        Domyślna cena to 1 order / 15min. 
        %br
        Cena zostanie przeliczona również na godziny.
      %br
      = f.text_field :price
      = errors_for f, :price


  .control-group
    = f.label :short_description, "Tekst ogłoszenia:", class: "control-label" 
    .controls
      %i
        Zredaguj tekst ogłoszenia, które będzie wyświetlane w katalogu i wynikach wyszukiwania.
        %br
        zwięźle napisz z czego udzielasz korepetycje oraz zachęć do skorzystania z Twoich usług.
        %br
        Max. 150 znaków.
        %br
      = f.text_area :short_description, :rows => 4
      = errors_for f, :short_description
  .control-group
    = f.label :about, "Trochę o sobie:", class: "control-label" 
    .controls
      = f.text_area :about, :rows => 8, :class => "wysiwyg"
  .control-group
    = f.label :tutor_subjects, "Przedmioty:", class: "control-label"
    .controls
      %i
        Wybierz przedmioty z których udzielasz korepetycji
      %ul#subject_children
        = f.fields_for :tutor_subjects do |sf|
          %li.subject
            = sf.select :subject_id, options_from_collection_for_select(Subject.all, :id,  :name, sf.object.subject_id)
            = sf.hidden_field :_destroy
            = link_to "Usuń", "#", class: "remove_fields"
            -unless sf.object.errors[:subject_id].empty?
              %ul.fieldErrors
                =sf.object.errors[:subject_id].first 
      = link_to "Dodaj kolejny przedmiot", "#", class: "add_fields"
  .control-group
    = f.label :avatar, "Avatar:", class: "control-label" 
    .controls
      %i
        Zalecany rozmiar avatara 150x150 px
      .clear
      = f.file_field :avatar
      = errors_for f, :avatar_file_size
      = errors_for f, :avatar_content_type
      = errors_for f, :avatar_dimensions
      - if @tutor.avatar.present?
        %i
          Obecny avatar:
        .clear
        = image_tag @tutor.avatar.url(:big) 

      

  .control-group
    .controls
      = f.submit "Zatwierdź", class: "btn square"