.profileInformation
  %dl
    %dt
      Wykształcenie : 
    %dd
      =tutor.degree
    %dt
      Udzielam korepetycje z :

    -if tutor.subjects.empty?
      %dd
        brak
    -else
      - tutor.subjects.each do |subject|
        %dd
          %strong
            #{subject.name}


.profileInformation
  %dl
    %dt
      Cena za lekcję : 
    %dd
      %strong
        #{tutor.price}
      order za 15min 
      %br
      %strong
        #{tutor.price * 4 }
      ordery za 60min
    %dt
      Specjalizuję się w : 
    %dd
      %small
        opcja niedostępna
    %dt
      Opini : 
    %dd
      %small
        - if tutor.has_comments?
          =link_to "Zobacz opinie (#{tutor.comments_count})", tutor_comments_path(tutor)
        -else
          Nikt nie wystawił jeszcze opini
    %dt
      Ogólna ocena : 
    %dd
      -if tutor.has_comments?
        #{tutor.rating} 
        %small
          Liczba ocen:#{tutor.comments_count}
      -else
        Brak