-tutors.each do |tutor|
  %div{ class: "listElement" , id: tutor.online? ? "listElementOnline" : nil }
    .avatar
      = image_tag tutor.avatar.url(:small) 
    .listContent
      #starNickname
        %strong
          =tutor.user.nickname
      #starRating
        = image_tag(star_rating(tutor.rating))
    -if tutor.online?
      #starOnline
        Online!
    -else
      #starOffline
        Offline      
    %br
    .listContent
      Ocena:
      -if tutor.has_comments?
        #{tutor.rating} 
        %small
          Liczba ocen:#{tutor.comments_count}
      -else
        Brak 
    .listContent.clear
      Opinie:
      - if tutor.has_comments?
        =link_to "Zobacz opinie (#{tutor.comments_count})", tutor_comments_path(tutor)
      -else
        Brak

    .listContent.clear
      Cena za lekcję:
      .orders
        %span.ordersColor
          =tutor.price
        za 15min 

    .listContent.clear
      .listComment
        %blockquote
          =tutor.short_description

    .listContent.clear
      %small
        .listLink
          =link_to "Więcej informacji", user_tutor_path(tutor.user)
        -if tutor.online?
          .listLink
            =link_to "Przejdź do pokoju", user_room_path(tutor.user)