- content_for :title do
  ="Przeglądaj - #{@subject.name.downcase}:"
.contentBackground
  %legend
    Lista korepetytorów w kategorii #{@subject.name.downcase}:
  = render :partial => 'shared/subject_list'

  .listAreaTutors
    .paginate
      = will_paginate @tutors 
    .clear
    = render :partial => 'tutor', :locals => { :tutors => @tutors }
    .clear
    .paginate
      = will_paginate @tutors 
  .clear

