- content_for :title do
  Zostań korepetytorem
.contentBackground.threeFourSize
  %legend
    Zostań korepetytorem - Krok 1 - Stwórz swoją wizytówkę
  .roomControl
    Przed rozpoczęciem koniecznie przeczytaj FAQ.
    %small
      =link_to "Kliknij tutaj aby przeczytać!", root_path
  .space.clear
  = render :partial => 'form'