- content_for :title do
  Mój Profil
.contentBackground.threeFourSize
  .profileTitle
    %h2
      = @tutor.user.nickname
  -if can? :manage, @tutor
    .profileBar
      |
      = link_to "Edytuj te dane", edit_user_tutor_path(params[:user_id])
      |
      = link_to "Edytuj dane konta", edit_user_registration_path
      |
  -elsif @tutor.online?
    .profileOnline
      %strong
        Status -  Online
      %br
      =link_to "Przejdź do pokoju korepetytora", user_room_path(@tutor.user)
  -else
    .profileOffline
      %strong
        Status -  Nieobecny
      %br
      %small
        Ostatnio aktywny:
        = @tutor.last_seen_at.strftime("%d-%m-%Y o godzinie %H:%M")
  .profileContent
    .avatar
      = image_tag @tutor.avatar.url(:big) 
    = render :partial => 'profile_information', :locals => { :tutor => @tutor }
 
    .clear
    %h3
      O mnie:
    = raw @tutor.about
    -if @tutor.online?
      %h5
        =link_to "Przejdź do pokoju korepetytora", user_room_path(@tutor.user)