- content_for :title do
  Moje Płatności
.contentBackground.threeFourSize
  %legend
    Moje Płatności
  .roomControl
    %small
      Do korzystania z płatnych lekcji u korepetytorów wymagana jest wirtualna waluta: ORDERY
      %br
      Standardowa cena za 15min to JEDEN order. 
      %br
      Korepetytor może zwiększyć stawkę, więc sprawdź cenę przed przystąpieniem do płatnej lekcji.
  .clear
  .dataBox
    %strong
      Posiadane ordery:
    .orders
      %span.ordersColor
        =@user.token
      %small
        -if @user.has_tokens?
          czyli #{@user.token_to_minutes} minut w standardowej cenie.
        -else
          Nie masz żadnych orderów.

  .dataBox
    -if @user.tutor?
      %strong
        Wypłać pieniądze za ordery:
      .space.clear
      .roomControl
        %small
          Kurs wymiany to #{CONST[:price_sell_order]}PLN za
          %span.ordersColor="1 order"
      .space.clear
      .roomControl
        %small
          Uwaga! Ordery, które chcesz wymienić muszą być na Twoim koncie minimum przez tydzień.
      .space.clear
      .roomControl
        %small
          Procedura otrzymania pieniędzy.
          %br
          1. Skorzystaj z poniższego formularza wpisując ile orderów chcesz wymienić oraz dane do przelewu.         
          %br
          2. W celu zapewnienia bezpiecznych transakcji żądanie przelewu jest weryfikowane przez pracownika.
          %br
          3. Po weryfikacji wykonywany jest przelew oraz wysyłane potwierdzenie na adres email.
      .clear.space
        .box
          = render :partial => '/contacts/form.contact'
    -else
      %strong
        Kup ordery:

      .buy
        .orders
          %span.ordersColor="1"
          (15 minut) za #{CONST[:price_buy_order]}PLN
          = form_tag(CONFIG[:paypal_url], :class => "styledFormMini" ) do 
            = hidden_field_tag :cmd, "_s-xclick"
            = hidden_field_tag :encrypted, current_user.paypal_encrypted("15 minut prywatnej lekcji", CONST[:price_buy_order], current_user , root_url, payment_notifications_url(:secret =>  CONFIG[:paypal_secret], :tokens => 1))
            = submit_tag "Kup", class: "btn square"

      .buy
        .orders
          %span.ordersColor="4"
          (1 godzina) za #{CONST[:price_buy_order] * 4}PLN
          = form_tag(CONFIG[:paypal_url], :class => "styledFormMini" ) do 
            = hidden_field_tag :cmd, "_s-xclick"
            = hidden_field_tag :encrypted, current_user.paypal_encrypted("1 godzina prywatnej lekcji", CONST[:price_buy_order] * 4 , current_user , root_url, payment_notifications_url(:secret =>  CONFIG[:paypal_secret], :tokens => 4))
            = submit_tag "Kup", class: "btn square" 


      .buy
        .orders
          %span.ordersColor="16"
          (4 godziny) za #{CONST[:price_buy_order] * 16}PLN
          = form_tag(CONFIG[:paypal_url], :class => "styledFormMini" ) do 
            = hidden_field_tag :cmd, "_s-xclick"
            = hidden_field_tag :encrypted, current_user.paypal_encrypted("4 godziny prywatnej lekcji", CONST[:price_buy_order] * 16 , current_user , root_url, payment_notifications_url(:secret =>  CONFIG[:paypal_secret], :tokens => 4))
            = submit_tag "Kup", class: "btn square" 

  .clear