.halfSize.contentBackground
  %legend
    Zmień swoje hasło:

  = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, :class => "form-horizontal" }) do |f|  
    = f.hidden_field :reset_password_token 

    .control-group
      = f.label :password, "Nowe hasło:", class: "control-label" 
      .controls
        = f.password_field :password
        = errors_for f, :password 
    .control-group
      = f.label :password_confirmation, "Potwierdź nowe hasło:", class: "control-label" 
      .controls
        = f.password_field :password_confirmation
    .control-group
      .controls
        = f.submit "Zapisz nowe hasło", class: "btn square"

  = render "devise/shared/links" 
