.halfSize.contentBackground
  %legend
    Zapomniałeś swojego hasła?

  = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :class => "form-horizontal" }) do |f|
    .control-group
      =f.label :email, "Email:", class: "control-label"  
      .controls
        = f.text_field :email
        = errors_for f, :email
    .control-group
      .controls
        = f.submit "Wyślij nowe hasło", class: "btn square"
  = render "devise/shared/links" 
