- content_for :title do
  Mój Profil
.contentBackground.threeFourSize
  %legend
    Mój Profil

  .dataBox
    %strong
      Moje ordery:
    .orders
      %span.ordersColor
        =@user.token
      %small
        -if @user.has_tokens?
          czyli #{@user.token_to_minutes} minut w standardowej cenie.
        -else
          Nie masz żadnych orderów. 
          = link_to "Kup!", user_payment_management_path(current_user)
  .dataBox
    %strong
      Komentarze i opinie do wystawienia:
    %br
    - if @user.has_unpublished_comments?
      %p
        Nie oceniłeś jeszcze wszystkich płatnych lekcji w których brałeś udział.
      =link_to "Przejdź do listy komentarzy oczekujących na wystawienie", user_comments_path(current_user)
    - else
      %small
        Brak komentarzy do wystawienia. Wróć tutaj po skończonej lekcji aby wystawić opinie na temat jej przebiegu.
        
  .dataBox
    %strong
      Aktywne płatnie lekcje do których mnie zaproszono:
    %br
    %small
      Jeżeli wyświetla się nieaktualna lekcja, korepetytor zapomniał zakończyć lekcję. Zostanie ona automatycznie usunięta do #{CONST[:priv_room_expire_in]}min.
    .space
    -if @private_rooms.empty?
      %dd
        Brak aktywnych lekcji. Znajdz w katalogu korepetytora i rozpocznij z nim lekcję.
    -else
      - @private_rooms.each do |room|
        .roomAnnouce
          Korepetytor #{room_owner_nick(room)} utworzył dla Ciebie płątną lekcję o godzinie #{room.created_at.strftime("%H:%M")}.
          =link_to "Wchodzę!", tutor_private_room_path(room.tutor)
  .clear
  .dataBox
    %dl
      %dt
        Zarządzanie kontem:
      %dd
        = link_to "Zmień hasło", edit_user_registration_path
      %dd
        = link_to "Kup ordery", user_payment_management_path(current_user)
      %dd
        = link_to "Zostań korepetytorem",  current_user.tutor.present? ? new_user_room_path(current_user) : new_user_tutor_path(current_user)
      %dd
        = link_to "Usuń konto", registration_path(current_user), :data => { :confirm => "Napewno?" }, :method => :delete


  .clear