.roomAnnouce
  Korepetytor utworzył lekcję dla użytkownika 
  %strong
    = learner.nickname
  .alertLink.center
    #{learner.nickname} przejdź do prywatnej lekcji 
    =link_to "klikając tutaj!", tutor_private_room_path(tutor)