.input-append
  - if user_signed_in?
    = form_for( Message.new, remote: true ,   :url => {:controller => "/messages", :action => "create" , :room => room, :control => (room.instance_of?(Room) ? "pub" : "priv")}) do |f| 
      = f.text_field :content, id: "fixSendMessage" #, :placeholder => "Porozmawiaj na czacie"
      = f.submit "Wyślij" , class: "btn square"
  - else
    = form_for( "#", :method => :get) do |f| 
      = f.text_field :nothing, :id => "fixSendMessage",  :disabled => true , :placeholder => "Aby pisać na czacie musisz się zalogować"
      = f.submit "Wyślij" , :disabled => true , class: "btn square"  

= subscribe_to "/messages/private/#{room.sessionId}"
        