TB.setLogLevel(TB.DEBUG);

var apiKey = "<%=  CONFIG[:api_key] %>"; 
var sessionId = "<%= room.sessionId %>"; 
var token = "<%= ot_token %>"; 
var viewForLearner
<%- if room.instance_of? (PrivateRoom)  and current_user != room.tutor.user %>
viewForLearner = true ; 
<% end %>

<%- if room.instance_of? (PrivateRoom)   %>
var tutor = false; 
<% else %>
var tutor = "<%=  room.user.tutor.id %>"; 
<% end %>

$(document).ready(function(){
   connect();
});