.box.mini
  %strong
    Przedmioty:
  %ul
    - Subject.all_by_popularity.each do |subject|
      %li.boxElement
        = link_to "#{subject.name} (#{subject.tutor_subjects.size})",  subject_tutors_path(subject.id)
  .clear