%input.fixBtnInline#connectLink{ :type => "button", :value => "Połącz", :class => "btn square"  }
%input.fixBtnInline#publishLink{ :type => "button", :value => "Zacznij nadawać", :class => "btn square"}
#radioGroup
  %label.radio.fixBtnInline
    %input#audVid{ name: "pubOpt", type: "radio", :checked => "checked" }
    Video + Audio
  %label.radio.fixBtnInline
    %input#vidOnly{ name: "pubOpt", type: "radio" }
    Video
  %label.radio.fixBtnInline
    %input#audOnly{ name: "pubOpt", type: "radio" }
    Audio
%input.fixBtnInline#unpublishLink{ :type => "button", :value => "Zakończ nadawanie", :class => "btn square"}
-#%input.fixBtnInline#disconnectLink{:onClick => "javascript:disconnect()", :type => "button", :value => "Przejdź w tryb offline"} 