=form_for(MailMessage.new,  :url => {:controller => "/contacts", :action => "create" },  :html => { :multipart => true, :class => "form" }) do |f|
  .control-group
    =f.label :tokens_amount, "Liczba orderów do zamiany:", class: "control-label"  
    .controls
      = f.text_field :tokens_amount

  .control-group
    =f.label :body, "Uwagi: (opcjonalnie):", class: "control-label"  
    .controls
      = f.text_area :body, :rows => 4

  = f.hidden_field :subject, :value => "Rzadanie wykonania przelewu za ordery"

  .control-group
    .controls
      = f.submit "Wyślij"