- content_for :title do
  Witamy
- content_for :searchBox do
  = render partial: "/layouts/searchBox"
  
.contentBackground
  %legend
    Katalog korepetytorów:
  = render :partial => 'shared/subject_list'
  .listAreaTutors
    %h5
      Najbardziej aktywni korepetytorzy:
    -unless @online_tutors.empty?
      = render :partial => 'tutors/tutor', :locals => { :tutors => @online_tutors }
    = render :partial => 'tutors/tutor', :locals => { :tutors => @offline_tutors }
  .clear

