.halfSize.contentBackground
  %legend
    Zaloguj się w serwisie

  =form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => "form-horizontal" }) do |f|

    .control-group
      =f.label :email, "Email:", class: "control-label"  
      .controls
        = f.email_field :email
        = errors_for f, :email
    .control-group
      = f.label :password, "Hasło:", class: "control-label" 
      .controls
        = f.password_field :password
        = errors_for f, :password 


      .controls            
        = f.check_box :remember_me
        = f.label :remember_me, "Zapamiętaj mnie" , class: "checkbox inline" 
    .controls
      = f.submit "Zaloguj", class: "btn square"

  =render "devise/shared/links"

