=form_for(@room, :url => user_room_path(@room.user),  :html => { :class => "form-horizontal" }) do |f|
  .control-group.space
    =f.label :name, "Tytuł dla pokoju:", class: "control-label"
    .controls
      = f.text_area :name, :rows => 2
      = errors_for f, :name
  .control-group
    .controls
      = f.submit " #{params[:action] == "new" ? "Twórz Pokój" : "Zapisz zmiany"} ", class: "btn square"
      -if params[:action] == "edit"
        %small
          lub 
          =link_to "wróć do swojego pokoju", user_room_path(@room.user)