- content_for :title do
  Twórz Pokój
.contentBackground.threeFourSize
  %legend
    Krok 2 - Twórz Pokój
  .roomControl
    %small
      Twój Pokój będzie miejscem gdzie możesz czekać na uczniów i przeprowadzać wstępne rozmowy z nimi.
      %br
      Jeżeli przebywasz na stronie Twojego Pokoju, zmieniasz status na ONLINE.
      %br
      Dzięki statusowi ONLINE pojawiasz się w katalogu i wynikach wyszukiwania w pierwszej kolejności.
  .space.clear
  .roomControl
    %small
      Aby rozpocząć płatną lekcję z uczniem wystarczy kliknąć w "Twórz Płatną Lekcję" i wpisać nick ucznia.
      %br
      Uczeń dostanie informację o utworzonej lekcji, poczekaj aż dołączy do Ciebie.
      %br
      Poproś o zapłacenie za lekcję, po zapłaceniu pojawi się komunikat i uruchomi się licznik.
      %br
      Po skończonej lekcji poproś ucznia o wystawienie opini oraz usuń lekcje klikając w "Zakończ lekcję"
      %br
      Jeżeli wyjdziesz bez usuwania lekcji, zostanie ona skasowana automatycznie po upływie #{CONST[:priv_room_expire_in]}min.
  .space.clear
  .roomControl
    %small
      Im lepsze oceny i im więcej opiń tym lepsza pozycja w katalogu i w wynikach wyszukiwania
    
  .clear
  .dataBox
    %i  
    Możesz ustawić krótki tytuł, który będzie wyświetlany na stronie Twojego pokoju.
    = render :partial => 'form'
  .clear
