- content_for :title do
  ="Pokój użytkownika #{@tutor.user.nickname}"
:javascript
  #{ render :partial => "shared/generate_video.js", :locals => { :room => @room, :ot_token => @ot_token }}

.contentBackground
  #colLeft
    .avatar
      = image_tag @tutor.avatar.url(:medium) 
    #roomTitle 
      = @tutor.user.nickname
      = link_to "O mnie", user_tutor_path(@tutor.user)
    #roomDescription
      = @room.name
      - if can? :manage, @room
        %small
          =link_to "Zmień", edit_user_room_path(@tutor.user)
    .clear
    #roomContent
      #privateRoomAnnouces
      - if @tutor.private_room.present? and can? :manage, @room
        .roomAnnouce 
          Utworzyłeś płatną lekcję z użytkownikiem 
          %strong=@learner.nickname
          %small
            =link_to "Usuń!", tutor_private_room_path(@tutor) , :method => :delete, confirm: "Jestes pewien?" 
          .alertLink.center
            =link_to "Przejdź do płatnej lekcji", tutor_private_room_path(@tutor)      
      - elsif can? :manage, @room
        .roomAnnouce
          %small
            Po wstępnej rozmowie możesz utworzyć płatną lekcję z jednym z użytkowników.
            %br
            Zapamiętaj jego nick i 
          =link_to "stwórz płatną lekcję", new_tutor_private_room_path(@tutor)         

      - elsif @tutor.private_room.present?
        = render :partial => 'shared/annouce_content', :locals => { :learner => @learner, :tutor => @room.user.tutor } 
    .clear

      #videobox
      = render :partial => 'tutors/profile_information', :locals => { :tutor => @tutor }




  #colRight
    .roomControl
      Status połączenia: 
      %span#connectionStatus
    - if can? :manage, @room
      .clear
      = render :partial => 'shared/video_buttons'  

    .clear
    #chatHeader
      %h5
        CZAT
      = render :partial => 'shared/chat_sender', :locals => { :room => @room }

 

    %ul#chat
  .clear
    




