

body {
  background: url(wood.jpg);
  height: auto;
}

header {
  height: 171px;
  margin-bottom: 35px;
  background:  url(headerBackground.jpg) repeat-x;
}

footer {
  height: 121px;
  background:  url(footerBackground.jpg) repeat-x;


}


/*----override-bootstrap---*/
textarea {
  width: 450px;
}

li .field_with_errors {
  display: inline;
}

blockquote {
  margin-top: 10px;
  margin-bottom: 10px;
}
/*--APPLICATION.HTML.ERB--*/


.paginate {
  margin:auto;
  width:400px;
  margin-bottom: 10px;
  margin-top: 10px;
}


.pagination { padding: 3px; margin: 3px; } 
.pagination a { padding: 2px 5px 2px 5px; margin: 2px; border: 1px solid #CCEED4; text-decoration: none; color: #3D9C53; } 
.pagination a:hover, 
.pagination a:active { border: 1px solid #3D9C53; color: #000; } 
.pagination span.current { padding: 2px 5px 2px 5px; margin: 2px; border: 1px solid #3D9C53; font-weight: bold; background-color: #3D9C53; color: #FFF; } 
.pagination span.disabled { padding: 2px 5px 2px 5px; margin: 2px; border: 1px solid #eee; color: #ddd; }



.btn {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
    
    color: #FFFFFF;
    text-shadow: 1px 1px 1px #595959;
    font-weight: bold;
   

    padding: 5px 20px;
    margin: 0 20px;

    text-decoration: none;

    
    border: solid 1px #3b7200;
    background-color: #88c72a;
    background: -moz-linear-gradient(top, #88c72a 0%, #709e0e 100%);
    background: -webkit-linear-gradient(top, #88c72a 0%, #709e0e 100%);
    background: -o-linear-gradient(top, #88c72a 0%, #709e0e 100%);
    background: -ms-linear-gradient(top, #88c72a 0% ,#709e0e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#709e0e', endColorstr='#709e0e',GradientType=0 );
    background: linear-gradient(top, #88c72a 0% ,#709e0e 100%);
    -webkit-box-shadow: 0px 0px 1px #66FF00, inset 0px 0px 1px #FFFFFF;
    -moz-box-shadow: 0px 0px 1px #66FF00, inset 0px 0px 1px #FFFFFF;
    box-shadow: 0px 0px 1px #66FF00, inset 0px 0px 1px #FFFFFF;


}


.btn:hover {
    background-color: #7fb52f;
    background: -moz-linear-gradient(top, #7fb52f 0%, #67910b 100%);
    background: -webkit-linear-gradient(top, #7fb52f 0%, #67910b 100%);
    background: -o-linear-gradient(top, #7fb52f 0%, #67910b 100%);
    background: -ms-linear-gradient(top, #7fb52f 0% ,#67910b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#67910b', endColorstr='#67910b',GradientType=0 );
    background: linear-gradient(top, #7fb52f 0% ,#67910b 100%);
}

.btn:active {
    background-color: #31B404;
    background: -moz-linear-gradient(top, #638f22 0%, #486608 100%);
    background: -webkit-linear-gradient(top, #638f22 0%, #486608 100%);
    background: -o-linear-gradient(top, #638f22 0%, #486608 100%);
    background: -ms-linear-gradient(top, #638f22 0% ,#486608 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#486608', endColorstr='#486608',GradientType=0 );
    background: linear-gradient(top, #638f22 0% ,#486608 100%);
}

.square {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}





.wrapper {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 0px;
}


#content {
  min-height: 600px;
}

.center {
  text-align: center;
}

.ordersColor {
  color: #0080FF; 
  font-weight: bold;
}

.orders {
  display: inline;
  padding-left: 12px;
  background: url(order.jpg);
  background-repeat: no-repeat;
  background-position: left center;
}

.clear {
  clear: both;
}

.space {
  padding:5px;
}

.toLeft {
  float:right;
}



.displayInline {
  display: inline;
}

#headerBackground {
  width: 960px;
  height: 171px;
  background:  url(header.jpg);
  position: relative;
}

#headerPageTitle {
  width: 220px;
  height: 115px;
  cursor: pointer;
}

#headerUserBar {
  color: white;
  font-variant: small-caps;
  font-weight: bold;
  width: 201px;
  height: 41px;
  padding: 3px 40px 0px 10px;
  background:  url(headerUserBar.png) no-repeat;  
  position: absolute;
  top: 0px;
  right: -60px;
}

#headerUserBar a {
  color: red;
  text-decoration: none;
}

#headerUserBar a:hover {

  font-weight: bolder;

}

#navButtonField {
  position: absolute;
  top: 130px;
  right: -15px;
  max-width: 652px;
  height: 48px;


}

#navButtonSearch {
  width: 80px;
  height: 48px;
  background:  url(navbar_search.png); 
  text-indent: -9999px;
  cursor: pointer;
  float:left;
}

#navButtonCatalog {
  width: 93px;
  height: 48px;
  background:  url(navbar_catalog.png); 
  text-indent: -9999px;
  cursor: pointer;
  float:left;
}

#navButtonHow {
  width: 136px;
  height: 48px;
  background:  url(navbar_how.png); 
  text-indent: -9999px;
  cursor: pointer;
  float:left;
}

#navButtonRoom {
  width: 101px;
  height: 48px;
  background:  url(navbar_room.png); 
  text-indent: -9999px;
  cursor: pointer;
  float:left;
}

#navButtonPayment {
  width: 136px;
  height: 48px;
  background:  url(navbar_payment.png); 
  text-indent: -9999px;
  cursor: pointer;
  float:left;
}

#navButtonMyProfile {
  width: 95px;
  height: 48px;
  background:  url(navbar_myprofile.png); 
  text-indent: -9999px;
  cursor: pointer;
  float:left;
}

#navButtonSignup {
  width: 109px;
  height: 48px;
  background:  url(navbar_signup.png); 
  text-indent: -9999px;
  cursor: pointer;
  float:left;
}


#searchBox {
  position:relative;
  width: 760px;
  height: 221px;
  background:  url(searchbox.png); 
  margin:auto;
  margin-top: 25px;
  margin-bottom: 25px;
}

#searchBox input[type="text"] {
  width: 380px;
  height: 52px;
  padding-left: 20px;
  padding-right: 30px;
  font-style: italic ;
  font-size: 12px ;
  background:  url(searchInput.png) no-repeat left bottom; 
  position: absolute;
  top: 110px;
  left: 100px;
  border: 0px;
  box-shadow: none !important;


}

#searchBox input[type="submit"] {
  width: 125px;
  height: 47px;
  background:  url(searchButton.png); 
  position: absolute;
  top: 125px;
  left: 530px;
  text-indent: 9999px;
  cursor: pointer;
  border:none;

}

.halfSize {
  width: 500px;

}

.threeFourSize {
  width: 750px;
  padding-left: 40px !important;
}

.contentBackground {
  min-height: 200px;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 100px;

  background: white;
  border: 1px solid #c0c0c0;
  -moz-border-radius:3px; 
  -webkit-border-radius:3px; 
  border-radius:3px; 

  padding: 20px 20px 40px 20px;
  box-shadow: 2px 2px 10px black;
  -moz-box-shadow: 2px 2px 10px black;
  -webkit-box-shadow: 2px 2px 10px black;

}

#footerBox{
  background: url(footer.jpg);
  width: 960px;
  height: 121px;
  margin: auto;

}


.footerContent {
  float:left;
  font-size: 12px;
  width: 33%;
  padding-top: 8px;
  color: #959595;
  font-weight: bold;
}




.footerLink, .footerLink:hover {
  color: white;
  font-weight: bold;  
}

#copyrights {
  padding-top: 80px;
}

#banners {
  float:right;
  margin-top: 40px;
}

#megiBanner {
  width: 91px;
  height: 18px;
  padding: 10px;
}


.alert-message {
  padding: 10px 10px 5px 10px;
  text-align: center;
  margin: 10px auto 10px auto;
  max-width: 600px;
  -moz-border-radius:3px; 
  -webkit-border-radius:3px; 
  border-radius:3px; 
  box-shadow: 2px 2px 3px #585858;
  -moz-box-shadow: 2px 2px 3px #585858;
  -webkit-box-shadow: 2px 2px 3px #585858;
}

.alertLink {
  color: red ;
  font-weight: bold;
}



ul.fieldErrors {
  clear: both;
  list-style-type: none;
  margin-left: 0px;
  padding-left: 0px;
  color: orangeRed;
}

.field_with_errors input {
  border-color: orangeRed;
}

#starNickname {
  float:left;
  min-width: 70px;
}

#starRating {
  width: 120px;
  height: 20px;
  float:left;
  margin: 0 3px 0 5px;

}

#starOnline {
  float: right;
  font-variant: small-caps;
  color: orange;
  font-weight: bold;
}

#starOffline {
  float: right;
  font-variant: small-caps;
  
}
