ul#chat {
  font-size: 12px;
  list-style: none;
  padding: 0;
  
  height: 422px;
  
  margin: 5px 20px 5px 0px;
  overflow: auto;
  li {
    margin: 2px 5px 2px 2px;
    padding: 3px 5px 3px 3px;
    
    background: white;
    border: 1px solid #c0c0c0;
    -moz-border-radius:3px; 
    -webkit-border-radius:3px; 
    border-radius:3px; 

    box-shadow: 3px 3px 7px #ccc;
    -moz-box-shadow: 3px 3px 7px #ccc;
    -webkit-box-shadow: 3px 3px 7px #ccc;
    
    .created_at {
      float: right;
      color: #777;
      font-size: 11px;
      padding-left: 4px;
      padding-top: 2px;
    }
    .nickname {
      font-weight: bold;
    }
    #nicknameOwner
    {
      color: #0081bf;
      }
  }
}

input#message_content {
  width: 240px;
}