.dataBox {
  margin: 5px;
  margin-top: 20px;
}

.buy {
  clear: both;
  max-width: 240px;
  margin: 20px 10px;
}

.buy form {
  float: right;
  margin: 0px;

} 

.buy form input {
    font-size: 85%;
    padding: 1px 3px;
}

