#privTitle {
  width: 50%;
  float:left;
}
#privControlPanel {
  width: 50%;
  float: left;
}
#privContent{
  clear:both;
}
#privChat{
  margin: 5px;
  padding: 10px;
  clear:both;
}

#privTutor {
  width: 42%;
  float: left;
  margin: 25px;
  padding: 10px;

  border: 1px solid #c0c0c0;
  -moz-border-radius:3px; 
  -webkit-border-radius:3px; 
  border-radius:3px; 
}

#privLearner {
  width: 42%;
  float: left;
  margin: 25px;
  padding: 10px;
  border: 1px solid #c0c0c0;
  -moz-border-radius:3px; 
  -webkit-border-radius:3px; 
  border-radius:3px; 
}