$ot-window-width: 396px;
$ot-window-height: 297px;

/*--style-for-open-tok.js--*/
#connectLink, #disconnectLink, #publishLink, #unpublishLink{
  display: none;
}



/*--show--room--*/



#colLeft {
  width: 50%;
  float:left;
  
}

#colRight {
  width: 50%;
  float: left;

}



.fixBtnInline {
  float:left;
  margin:10px;
}


#videobox {
  /*  width: $ot-window-width;
  height: $ot-window-height;*/
  
  max-width: 800px;
  max-height: 600px;
  
  margin-right: auto;
  margin-left: auto;
  background: url(no_signal.jpg);
}

#videobox object {
  float: left;
  height:297px; /* 198px;*/
}

#roomContent {
  clear: both;
  float: left;
  
}



.roomControl {
  float: left;
  padding:5px;
  background-color: #CCEED4;
  border: 1px solid #3D9C53;
  -moz-border-radius:3px; 
  -webkit-border-radius:3px; 
  border-radius:3px; 
  
}


.roomAnnouce {
  float: left;
  padding:5px;
  margin: 10px 0 10px 0;
  background-color: #FAFAFA;
  border: 1px solid #BDBDBD;
  -moz-border-radius:3px; 
  -webkit-border-radius:3px; 
  border-radius:3px; 
  
}

#roomTitle {
  float: left;
  padding:10px;
  padding-left: 0px;
  font-size: 20px;
  margin: auto;
  font-weight: bold;
  a {
    text-decoration: none;
    font-size: 12px;
    
  }
}

#roomDescription {
  float:left;
  width: 360px;
  font-size: 15px;
  padding: 0px 10px 10px 0px;
  font-family: arial;
  
}



#fixSendMessage {
  width: 350px; 
  height: 22px;
  border-color: #3B7200;
  &[disabled]{
    font-style: italic ;
    
  }
}

#radioGroup {
  display: none;
  }