.box {
  float:left;

  margin: 5px;
  padding: 5px;
  border: 1px solid #E1E1E1;
  -moz-border-radius:3px; 
  -webkit-border-radius:3px; 
  border-radius:3px; 
}

.mini {
 width: 130px; 
}

.box ul {
  margin-left: 10px;
}

.boxElement {
  list-style: none;

}

.boxElement a {
  text-decoration: none;
  font-style: italic;
}