
.profileTitle {
  width: 50%;
  float: left;
}

.profileBar {
  float: right;
}

.profileContent {
  clear: both;
}

.profileOnline {
  float: right;
  margin: 10px 10px 2px 2px;
  font-variant: small-caps;
  color: orange;
  font-size: 120%;
  text-align: center;
}

.profileOffline {
  float: right;
  margin: 10px 10px 2px 2px;
  text-align: center;
}

.profileOnline a {
  font-variant: normal;
  font-size: 80%;
}

.avatar {
  margin: 5px;
  margin-right: 10px; 
  float: left;
}
.profileInformation {
  float:left;
  margin-right: 60px;
}

#subject_children {
  margin: 0px;
}

form li.subject {
  list-style-type: none;
  margin-top: 5px;
  margin-bottom: 5px;
}



.listAreaComments {
  float: left;
  margin: 5px;
  padding: 5px;

}

.listAreaTutors {
  float: left;
  width: 780px;
  margin: 5px;
  padding: 5px;

}

.listElement {
 width: 350px;

  float: left;
  margin:2px;
  padding: 5px 10px 5px 10px;

  border: 1px solid #E1E1E1;
  -moz-border-radius:3px; 
  -webkit-border-radius:3px; 
  border-radius:3px; 
}

#listElementOnline {
  border: 1px solid orange !important;
}

.listAreaTutors .listElement { 
   height: 195px;
}

.listAreaComments .listElement { 
   
}

.listLink {
  display: inline;
  margin-right: 10px;
}

.listComment {
  font-style: italic;

}

.listContent {
  float:left;
  padding: 0;
  margin: 0;
}