<p>Witaj <%= @resource.nickname %>!</p>

<p>Ktoś wysłał formularz do zresetowania hasła na stronie Korepetycje Online, możesz to zrobić klikając poniższy link.</p>

<p><%= link_to 'Zmień moje hasło', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Jeżeli to nie Ty, zignoruj tego emaila.</p>
<p>Twoje hasło nie zostanie zmienione do czasu kliknięcia w link.</p>
