- flash.each do |type, message|
  %div.alert-message.fade.in{ "data-alert" => "alert", :class => twitterized_type(type) }
    %button.close{"data-dismiss" => "alert", :type => "button"} ×
    %p
      = message