%footer
  .wrapper
    #footerBox
      .footerContent
        %dl
          %dt
            Na skróty:
          %dd
            |
            = link_to "Katalog", subjects_path, :class => "footerLink"
            |
            = link_to "Jak to działa?", root_path, :class => "footerLink" 
            |
          %dd
            |
            = link_to "Regulamin", root_path, :class => "footerLink"
            |
            = link_to "Kontakt", root_path, :class => "footerLink"
            |        

      .footerContent
        #copyrights
          %small
            Copyright © 2013 naumiani.pl - Wszelkie prawa zastrzeżone.
      .footerContent
        #banners
          =link_to image_tag("megiteam.png"), "http://www.megiteam.pl/refk/ivan89pl" 

      
