<meta charset="utf-8" />

<!-- Uncomment to make IE8 render like IE7 -->
<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

<!-- Set the viewport width to device width for mobile -->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title><%- if content_for?(:title)  %> 
         <%= yield(:title)  %>
         <%= " - "  %>
         <% end %>
  Korepetycje online</title>
<!-- Included CSS Files -->
<%= stylesheet_link_tag    "application" %>
<!-- Included JS Files  -->
<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>