.wrapper
  #searchBox  
    = form_tag search_resoults_path, :method => :get do
      = text_field_tag :search, params[:search], :placeholder => "Zagadnienie, zakres materiału, nick korepetytora ... [min. 4 znaki]"
      = submit_tag "Szukaj"




