#headerUserBar
  Witaj
  -if user_signed_in?
    = current_user.nickname
    %span.toLeft
      = link_to "Wyloguj", destroy_user_session_path, method: :delete
  -else
    nieznajomy!
    %span.toLeft
      = link_to "Logowanie", new_user_session_path
#headerPageTitle     
  = link_to "", root_path

#navButtonField
  = link_to "Szukaj", root_path, id: "navButtonSearch"
  =# link_to "Katalog", subjects_path, id: "navButtonCatalog"
  = link_to "Jak to działa?", welcomes_path, id: "navButtonHow"
  -if user_signed_in?
    = link_to "Mój Pokój", current_user.room.present? ? user_room_path(current_user.id) : register_tutor_helper, id: "navButtonRoom" 
    = link_to "Moje Płatności", user_payment_management_path(current_user), id: "navButtonPayment"   
    = link_to "Mój Profil", current_user.tutor? ? user_tutor_path(current_user) : user_my_profile_path(current_user), id: "navButtonMyProfile" 

  -else
    = link_to "Rejestracja", new_user_registration_path, id: "navButtonSignup"