<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
    <%= render partial: "/layouts/header" %>
  </head>
  <body>
    <header>
      <div class="wrapper">
        <div id="headerBackground">
          <%= render partial: "/layouts/user_bar" %>
        </div>
      </div>
    </header>
    

    <div id="content">
       <% if content_for? :searchBox %>    
                <%= content_for :searchBox %>
            <% end %>
      

      
        <div class="wrapper">
        <%=render :partial => "/layouts/flash_messages", :locals => {:flash => flash}%>

          <%= yield %>

        </div>
         
    </div>

    <%= render partial: "/layouts/footer" %>
    
  </body>
</html>